#map {
    height: 500px;
    width: 100%;
  }


  .div-tb{
    overflow-x: auto;
    overflow-y: scroll;
    height: auto;
    max-height: 250px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  
  }
  
  th, td {
    text-align: left; /* Alineación del texto */
    padding: 5px; /* Espaciado interno */
    white-space: nowrap; /* Prevenir que el texto se rompa */
  }
  
  .datatable-fixed-header {
    width: 100%;
    font-size: 10px; /* Tamaño del texto */
    line-height: 1.0px; /* Altura de línea */
    padding: 1px;
    margin-left: -10px; /* Margen para ajustes */
  }
  
  .datatable-fixed-header .table tbody td {
    text-overflow: ellipsis; /* Agrega puntos suspensivos al texto largo */
    white-space: nowrap; /* Prevenir que el texto se rompa */
    overflow: hidden; /* Oculta el texto que excede */
  }
  
  .table thead {
    position: sticky; /* Encabezado fijo */
    top: 0; /* Fija el encabezado en la parte superior */
    z-index: 1; /* Asegura que esté sobre el contenido */
    background-color: rgb(10, 10, 73); /* Color de fondo */
    color: white;
  }
  
  .table thead th {
    white-space: nowrap; /* Prevenir que el texto del encabezado se rompa */
  }
   
/* Estilo que permite cursor:pointer */
.table tbody td:nth-child(2){
  cursor: pointer;
}

.custom-info-window{
  color: black;
  font-weight: bolder;
}

.spinner{
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none;
  margin: auto;
  z-index: 999;
}